.grid {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 300px;
    justify-content: space-between;
    cursor: url('images/sanitizer.svg')16 16, auto;
}

h3, h2, h1 {
    text-align: center;
    margin-bottom: 0px;
}

body {
    justify-items: center;
    display: grid;
    background-color: lightslategray;
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: xx-large;
    color: gold;
}

#screen {
    background-color: ivory;
    border-radius: 75px;
    padding: 3%;
}

